form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

form>input {
  margin: 4px;
  padding: 6px;
  outline: none;
  width: 100%;
  max-width: 300px;
  border: 2px solid transparent;
  font-size: 16px;
  transition: .3s ease;
}

form>input:focus {
  border: 2px solid #61dafb;
}

form>button {
  margin: 4px;
  padding: 6px 12px;
  border: none;
  background-color: #61dafb;
  color: #282c34;
  font-size: 16px;
  transition: .3s ease;
  cursor: pointer;
}

form>button:hover {
  background-color: rgba(97, 218, 251, 0.8);
  color: #fff;
}

.todo-list {
  margin: auto;
  max-width: 300px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul>li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

.delete-btn {
  float: right;
  background: none;
  height: 10px;
  border: none;
  margin-left: 20px;
  color: #61dafb;
  cursor: pointer;
  transition: .3s ease;
}

.delete-btn:hover {
  color: #fff;
}